<div class="" role="navigation">
    <div class="pure-menu-heading ">
        <a class="pure-menu-link logo" href="#/">Contratempo</a>
        <span class="slogan">contamos com você.</span>
    </div>
    <ul class="pure-menu-list user-menu">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a class="pure-menu-link"><span class="{{'flag-icon flag-icon-' + getCurrentLanguage()}}"></span></a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item" ng-hide="'br' == getCurrentLanguage()" ng-click="changeLanguage('br')">
                    <span class="flag-icon flag-icon-br"></span>
                </li>
                <li class="pure-menu-item" ng-hide="'us' == getCurrentLanguage()" ng-click="changeLanguage('us')">
                    <span class="flag-icon flag-icon-us"></span>
                </li>
            </ul>
        </li>
        <li class="pure-menu-item">
            <a href="#/about" class="pure-menu-link" translate="BUTTONS.LOGIN">Entrar</a>
        </li>
        <li class="pure-menu-item">
            <a href="#/about" class="pure-menu-link">Entrar</a>
        </li>
        <li class="pure-menu-item">
            <a href="#/about" class="pure-menu-link">Entrar</a>
        </li>
        <li class="pure-menu-item">
            <a href="#/about" class="pure-menu-link">Entrar</a>
        </li>
        <li class="pure-menu-item">
            <a href="#/about" class="pure-menu-link">Entrar</a>
        </li>
        <li class="pure-menu-item">
            <a href="#/about" class="pure-menu-link">Entrar</a>
        </li>
        <li class="pure-menu-item">
            <a href="#/about" class="pure-menu-link">Entrar</a>
        </li>
        <li class="pure-menu-item">
            <a href="#/about" class="pure-menu-link">Entrar</a>
        </li>
    </ul>
</div>
